includes:
    - phpstan-baseline.neon
    - /opt/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
    - /opt/phpstan/vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: max
    paths:
        - src
        - config
        - public
    doctrine:
        ormRepositoryClass: Infrastructure\Doctrine\Repository\AbstractRepository
        objectManagerLoader: tests/object-manager.php

services:
    - class: Tools\TypeResolver\QueryOutputTypeResolver
      tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
